.home {
    margin: 0 auto;
    width: 100%;
    font-family: Shadows Into Light;
    background-image: url('./12_.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.home h1 {
    
    font-size: 100px;
    font-family: Shadows Into Light;
    color: rgb(213, 216, 12);
}
.home-container {
    display: flex;
    width: 100%;

    
    text-align: center;
}
.left-side {
    width: 20%;
    
}
.centre-side {
    width: 80%;

   
}
/* +++++++++++++++++++++++++++++++++LEFT-SIDE+++++++++++++++++ */
.home h4 {
    color: rgb(184, 243, 23);
    padding-top: 20px;
    font-size: 40px;
    font-weight: 600;
    font-family: Shadows Into Light;
}
.left-title {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.left-title li {
    
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(150, 27, 27);
}
.left-title li a {
    text-decoration: none;
    color: rgb(224, 47, 47);
}
.left-title li a:hover {
    color: black;
    transition: 0.3s;
}
.left-1 img {
    width: 95%;
    padding: 5px;
}
h5 {
    font-size: 40px;
    margin: 10px;
}
.left-1 p {
    font-size: 20px;
    margin: 10px;
    text-align: justify;
    font-weight: 500;
    font-family: Shadows Into Light;
    line-height: 25px;
}
/* ++++++++++++++++++++++DROPDOWN MENU ++++++++++++++++++++   */
.submenu {
    position: absolute;
    left: 210px;
    top: 340px;
   
    display: none;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    text-align: left;
}
.submenu ul {
    list-style: none;
    text-align: left;
    padding: 0 20px;
}
.submenu2 {
    position: absolute;
    left: 210px;
    top: 380px;
    
    display: none;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    text-align: left;
}
.submenu2 ul {
    list-style: none;
    text-align: left;
    padding: 0 20px;
}
.dropdown:hover > .submenu {
    display: block;
    background-color: rgb(196, 188, 87);
}
.dropdown2:hover > .submenu2 {
    display: block;
    background-color: rgb(196, 188, 87);
}
/* +++++++++++++++++++++++++CENTRAL PART ++++++++++++++++++ */
.centre-side{
    display: flex;
}
.centre-side h4 {
    color: rgb(20, 20, 20);
    font-size: 40px;
    font-family: Shadows Into Light;
    padding-top: 20px;
    font-weight: 200;
}
.centre-side p{
    color: rgb(241, 218, 7);
    font-size: 20px;
    text-align: justify;
    padding: 0 25px;
    line-height: 30px;
    font-family: Shadows Into Light;
    margin: 0;
    font-weight: 100;
}
.girl img{
    width: 1180%;
 
   
    
}
.text hr{
    border: 1px solid white;
    margin: 20px 50px 0px 50px;
}