.kharkiv {
   
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: Shadows Into Light;
    background-image: url(https://picsum.photos/id/165/600/400);
    background-size: cover;
}
.kharkiv h1 {
    font-size: 80px;
    font-family: Shadows Into Light;
    color: rgb(119, 216, 140);
    padding: 0;
}
h2 {
    font-size: 40px;
    color: rgb(63, 83, 57);
    font-family: Shadows Into Light;
    text-align: center;
    margin: 0;
}
.morephotos {
    font-size: 20px;
    padding: 10px ;
    margin: 20px 0 20px 20px;
    background-color: rgb(18, 39, 156);
    border: 2px solid rgb(169, 150, 236);
    border-radius: 5px;
    cursor: pointer;
    font-family: Shadows Into Light;
    color: white;
    width: 15%;

}
.morephotos:hover {
    background-color: rgb(210, 206, 233);
    color: black;
    transition: 1s;
    border: 2px solid rgb(29, 20, 61);
}
.kharkiv p {
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 0 20px;
    line-height: 30px;
    font-family: Shadows Into Light;
    margin-left: 20px;
    font-weight: 100;
    width: 90%;
    

}
.first, .third, .second {
    display: flex;
    
}
.first img {
    width: 82%;
    margin: 20px 0 20px 20px;
}
.second img  {
    width: 35%;
    margin: 20px 20px 20px 0px;
}
   .third img {
       width: 35%;
   }



