.ninefloor {
    background-color: rgb(83, 107, 51);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: Shadows Into Light;
    color: rgb(119, 216, 140);
    padding: 0;
}