.poltava{
    margin: 0 auto;
    width: 95%;
    height: 100%;
    font-family: Shadows Into Light;
    background-color: #69917b;
}
.poltava h1 {
    
    font-size: 80px;
    font-family: Shadows Into Light;
    color: white;
}