.sumu{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: Shadows Into Light;
    background-color: #69917b;
}
.sumu h1 {
    font-size: 80px;
    font-family: Shadows Into Light;
    color: rgb(119, 216, 140);
    padding: 0;
}
h2 {
    font-size: 40px;
    color: rgb(63, 83, 57);
     font-family: Shadows Into Light;
    text-align: center;
    margin: 0;

}