.about{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(224, 208, 238);
    font-family: "Manrope", sans-serif;
}
h1{
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 10px 10px 7px black;
}   
.back a {
    display: block;
    width: 40px;
    padding: 0 0 20px 20px;
}