.about-card{
   display: block;
    border: 2px solid rgb(38, 99, 36);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    
}
.name, .city, .profession, .age{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 20px;
}

.about-card p{
    color: royalblue;
    font-weight: bold;
   margin: 0;
    padding-left: 20px;
}