.fotocard{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    border: 4mm ridge rgba(151, 133, 32, 0.7);
    background-color: #b9be73;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(185, 184, 184);
    padding: 20px;
    font-size: 15px;
    margin: 10px;
}
.fotocard:hover{
    background-color: #a09150;
    transition: all 0.3s ease;
  
}
.fotocard img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
   }
   .fotocard img:hover{
    transform: scale(1.5);
    transition: all 1s ease;

   }
.fotocard .id{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #726e6e;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: #f7f4f4;
    margin: 0;
     justify-content: center;
    align-items: center;
}

.fotocard .name{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: center;
}
.fotocard .year{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
    text-align: center;
}