.header {
     margin: 0 auto;
    background-color: rgb(235, 236, 181);
    display: flex;
     font-family: "Shadows Into Light", cursive;
}
.header-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: "Manrope", sans-serif;
   margin: 0 auto;
    justify-content: space-between;
}
.logo{
    margin-left: 150px;
}
.logo img{
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 50%;

}
.header-title {
    display: flex;
}
.header-title li{
    list-style: none;
}
.header-title li a{
    padding-left: 90px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(28, 53, 5);
     font-family: Shadows Into Light;
}
.header-title li a:hover{
    color: rgb(209, 183, 36);
    text-decoration: underline;
}

.date{
    
   font-weight: bold;
    font-size: 15px;
    width: 7.5%;
    height: 95px;
    color: rgb(28, 53, 5);
    border: 1px solid rgb(34, 73, 15);
    margin-right: 40px;
    border-radius: 50%;
     
}