.projects {
    width: 100%;
    display: flex;
    background-color: rgb(235, 240, 240);
    font-family: "Manrope", sans-serif;
    color: rgb(60, 70, 57);
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 20px 0;
    text-shadow: 10px 10px 7px black;
}
.projects-container {
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.projects-container p{
    font-family: Shadows Into Light;
    width: 85%;
    font-size: 25px;
    line-height: 1.2;
    margin: 20px auto;
    text-align: justify;
}
.back img {
    width: 40px;
    padding: 0 0 20px 20px;
    cursor: pointer;
}
