.projects {
    width: 100%;
    display: flex;
    background-color: rgb(235, 240, 240);
    font-family: "Manrope", sans-serif;
    color: rgb(60, 70, 57);
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 20px 0;
    text-shadow: 10px 10px 7px black;
}
.projects-container {
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.projects-container p {
    font-family: Shadows Into Light;
    width: 85%;
    font-size: 25px;
    line-height: 1.2;
    margin: 20px auto;
    text-align: justify;
}
.projects-container img {
    width: 60px;
    padding: 15px;
    vertical-align: middle;
    border-radius: 50%;
}
.back img {
    width: 50px;
    padding: 0 0 20px 20px;
    cursor: pointer;
}
.projects-container-2 {
    width: 95%;
    height: 300vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(../Home/bba3ef77dcc36359f1a4d57b122819ec.jpg);
}
.projects-container-2 h1 {
    text-align: center;
    padding: 20px 0;
    color: rgb(243, 239, 9);
    text-shadow: 2px 2px 4px rgb(146, 139, 71);
}
.projects-container-2 p {
    font-family: Shadows Into Light;
    width: 95%;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    margin: 20px auto;
    text-align: justify;
    color: rgb(78, 67, 42);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.projects-container-2 h2 {
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
    color: rgb(231, 217, 91);
    text-shadow: 2px 2px 4px rgb(146, 139, 71);
}