.footer {
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   background-color: rgb(215, 228, 184);;
}
h4{
   font-size: 20px;
    font-family: "Manrope", sans-serif;
   margin: 0 auto;
   font-weight: 200;
   color: rgb(28, 53, 5);
}